/*
    Document   : layout
    Created on : Sep 10, 2011, 12:15:55 AM
    Author     : Greg Bueno
    Description:
        Uses the Minimalist, Sleepy Hollow and My Crazy Flat UI Status color schemes from the
	Color Schemer Gallery.
*/

body {
  background-image: url('../images/penzias-and-wilson-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $flat-black;
  color: $flat-white;
}

#masthead {
  background-color: rgba(64, 64, 64, 0.33);
  background-image: none;
}

#footer {
  background-color: rgba(64, 64, 64, 0.25);
  background-image: none;
}

#title {
  margin-top: 10px;
}

#content {
  #featured {
    margin-bottom: 1.5em;
  }
}

table.track-table {
  margin-top: 1em;
  thead {
    th {
      border: 1px solid $flat-black;
      background-color: $flat-red;
    }
  }
  tbody {
    tr:nth-child(2n) td {
      background-color: inherit;
    }
    td {
      border: 1px solid $flat-black;
    }
  }
}

@mixin navigation-list-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 750px) and (max-width: 992px) {
  #masthead {
    background-image: none;
    height: auto;
  }
}

@media screen and (min-width: 750px) {

  #nav-header {
    padding: 1em 0 1em 0;
    text-align: left;
  }

  #nav-header {
    ul.links li {
      @include navigation-list-item;
      margin-left: 24px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #masthead {
    background-image: none;
    height: auto;
  }
}

.promo {
  li {
    &.list-group-item {
      background-color: inherit;
      border-color: $light-grey-2;
    }
  }
}
