/* 
    Document   : typography
    Created on : Sep 10, 2011, 11:15:46 AM
    Author     : Greg Bueno
    Description:
        Uses the Minimalist Design and Sleepy Hollow color schemes from the
	Color Schemer Gallery.
*/

a {
  color: $light-blue-2;
  &:hover {
    color: $flat-red-2;
  }
}

body {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  color: $flat-white;
  #newsletter-cta &, .hero-overlay & {
    color: white;
  }
}

#masthead a, #masthead a:hover {
  color: $off-white;
}

#title {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 48px;
  text-transform: lowercase;
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  #title {
    font-size: 36px;
  }
}

.card {
  color: $flat-white;
  background-color: $dark-grey;
}

.card-title {
  a {
    color: $light-blue-2;
  }
}

#newsletter-cta {
  background-color: #252525;
}

.table {
  color: $off-white;
}

footer {
  color: $flat-white;
  font-size: 95%;
  a {
    color: $light-blue-2;
  }
}
