$dark-grey: #404040;
$dark-red-brown: #402C29;
$flat-black: #3E4561;
$flat-red: #F16543;
$flat-red-2: #FF8669;
$flat-blue: #00B5B5;
$flat-white: #F0F0F0;
$light-grey-2: #CBCBCB;
$medium-blue: #304B75;
$light-blue: #5483CC;
$light-blue-2: #B5D2FF;
$off-white: #F2F2F2;

$font-family-serif: "Istok Web", "Helvetica", "Arial", sans-serif;
$font-family-base: $font-family-serif;